.holder-contact {
	height: 100%;
}
.contact {
	width: 44%;
	height: 100%;
	position: relative;
	display: table;
	.holder-text {
		display: table-cell;
		vertical-align: middle;
		padding: 0 5% 0 44%;
	}
	.title-section {
		margin: 0 0 220px;
		&:after {
			width: 110%;
		}
	}
	.holder-address {
		padding: 0 0 0 100px;
	}
	.row {
		position: relative;
		margin: 0 0 40px;
		&:before {
			content: '\f003';
			font: 24px/30px 'FontAwesome';
			position: absolute;
			top: -6px;
			left: -53px;
		}
		.description {
			line-height: 2;
		}
	}
	.phone {
		&:before {
			content: '\f095';
		}
	}
	.marker {
		&:before {
			content: '\f041';
		}
	}
	.title-contact {
		text-transform: uppercase;
		margin: 0 0 20px;
	}
	.copyrigh {
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
	}

}
.holder-map {
	width: 56%;
	height: 100%;
	background: #fff;
	float: right;
	position: relative;
	#map {
		height: 100%;
	}
}

@include media (desktop-large) {
	.contact {
		.copyrigh {
			left: 5%;
			transform: none;
		}
		.title-section {
			margin-bottom: 30px;
			&:after {
				bottom: -10px;
			}
		}
		.holder-text {
			padding-left: 30%;
		}
	}
}
@include media (desktop) {
	.holder-map {
		display: none;
	}
	.contact {
		width: 100%;
		.copyrigh {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
@include media (mobile) {
	.contact {
		.holder-text {
			padding: 0 5%;
		}
		.title-section {
			letter-spacing: inherit;
		}
		.copyrigh {
			font-size: 10px;
		}
	}
}