.section-home {
	background: url('../img/home-bg.jpg') no-repeat;
	position: relative;
}
.section-about {
	background: url('../img/about-bg.jpg') no-repeat;
}
.section-service {
	background: url('../img/service-bg.jpg') no-repeat;
}
.section-portfolio {
	background: url('../img/portfolio-bg.jpg') no-repeat;
}
.section-blog {
	background: url('../img/blog-bg.jpg') no-repeat;
}
.section-contact {
	background: url('../img/contact-bg.jpg') no-repeat;

}
.section {
	background-size: cover;
}
.slide {
	background-size: cover;
}

@include media (desktop) {
	#fp-nav {
		.active  {
			.titles {
				display: none;
			}
		}
	}
}
