.section-portfolio {
	.title-section {
		margin-bottom: 120px;
		&:after {
			width: 104%;
		}
	}
	.menu-slide {
		padding: 0 6% 0 0;
		li {
			display: inline-block;
			vertical-align: top;
			padding: 0 0 0 30px;
			width: 23%;
			&:first-child {
				padding-left: 0;
			}
			a {
				display: inline-block;
				height: 100%;
				margin: 0 0 40px;
			}
			& > a {
				&:hover {
					opacity: .7;
				}
			}
			img {
				width: 100%;
				height: auto;
			}
		}
		.top {
			margin: -110px 0 0 0;
		}
		.cup {
			text-align: center;
			.title-cup {
				text-transform: uppercase;
				color: #fff;
				font-size: 15px;
				margin: 0 0 16px;
			}
			.description {
				margin: 0 0 48px;
			}
			.fa-link {
				width: 70px;
				height: 70px;
				border-radius: 50%;
				background: #fff;
				font-size: 30px;
				color: #ff4200;
				position: relative;
				&:before {
					top: 22px;
					left: 19px;
					position: absolute;
				}
				&:hover {
					color: #333;
				}
			}
		}
	}
	.holder-menu {
		display: flex;
		padding: 10% 1% 0;
	}
	.menu {
		text-transform: uppercase;
		font-size: 14px;
		width: 17%;
		li {
			margin: 0 0 45px;
		}
		a {
			color: #999;
			&:hover {
				color: #fff;
			}
		}
	}
}

@include media (desktop-large) {
	.section-portfolio {
		.menu {
			width: 30%;
		}
		.menu-slide {
			.cup {
				.fa-link {
					width: 30px;
					height: 30px;
					font-size: 16px;
					&:before {
						top: 7px;
						left: 8px;
					}
				}
			}
		}
		.fp-slidesNav.bottom {
			bottom: 17px;
		}
		.fp-slidesNav {
			right: 50%;
		}
	}
}

@include media (mobile) {
	.section-portfolio {
		text-align: center;
		.menu-slide {
			padding-right: 0;
			.none {
				display: none;
			}
			li {
				width: 60%;
			}
		}
		.title-section {
			margin-bottom: 60px;
			letter-spacing: inherit;
		}
		.holder-menu {
			padding: 0;
			display: block;
		}
		.menu {
			width: 100%;
			li {
				margin-bottom: 5px;
			}
		}
	}
}