@font-face {
	font-family: 'AvenirBlack';
	src: url('../fonts/AvenirBlack.eot');
	src: url('../fonts/AvenirBlack.eot') format('embedded-opentype'),
		url('../fonts/AvenirBlack.woff2') format('woff2'),
		url('../fonts/AvenirBlack.woff') format('woff'),
		url('../fonts/AvenirBlack.ttf') format('truetype'),
		url('../fonts/AvenirBlack.svg#AvenirBlack') format('svg');
		font-weight: 300;
		font-style: normal;
}
